*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root{
    --background-color: #005A63;
    --text-color-primary: #fff;
    --text-color-secondary: #FFDDD2;
    --blur: #252525;
    --highlight-color: rgba(129, 127, 127, 0.2);
}

body{
    background-color: var(--background-color);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: top;
}

.img-bg{
    width: 50%;
    height: 100vh;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
}
form{
    width: 400px;
    display: flex;
    justify-content: flex-start;
    margin-left: 100%;
    margin-top: 40%;
    flex-direction: column;
    font-size: 22px;
    font-weight: 700;
    gap: 55px;
    color: var(--text-color-secondary);
}

form h1{
    font-size: 60px;
    letter-spacing: 7px;
    font-weight: 700;
    color: var(--text-color-primary);
    
}

form div{
    position: relative;
    display: flex;
    align-items: center;
}

div input{
    width: 400px;
    height: 30px;
    border:none;
    background: none; 
    border-bottom: 1px solid var(--text-color-secondary);
    font-size: 20px;
    outline: none;
    color:var(--text-color-primary);
    cursor: pointer;
    position: absolute;
}

div input::placeholder{
    color: var(--text-color-primary);
    font-weight: 300;
    font-size: 18px;
}

div .icone{
    position: absolute;
    right: 0;    
}

.box-btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login{
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background-color: var(--text-color-secondary);
    color: var(--background-color);
    box-shadow: 0px 0px 23px -4px var(--blur);
    cursor: pointer;
}


.txt-1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt-1 p{
    color: var(--text-color-primary);
    font-weight: 300;
    font-size: 19px;

}

.txt-1 p a{
    text-decoration: none;
    color: var(--text-color-secondary);
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.redes a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    transition: all 0.2s ;
}

.redes ion-icon {
    font-size: 48px;
    color: var(--text-color-secondary);
}

.redes a:hover{
    background-color: var(--highlight-color);
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .img-bg{
    width: 50%;
    height: 100vh;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
}

form{
    width: 400px;
    margin-left: 60%;
}

form h1{
    font-size: 40px;
}

}